.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .appWrapper {
        background-color: var(--background_todo);
        min-width: 450px;
        height: 550px !important;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: var(--box_shadow);
        margin: 130px 0px 10px;
        transition: all 0.7s ease-in-out;
        overflow-y: auto;

        @media screen and (max-width: 490px) {
            min-width: 360px;
            min-height: 480px;
        }

        &:hover {
            transition: all 0.7s ease-in-out;
            box-shadow: var(--box_shadow_hover);
        }
    }
}
