.appWrapper {
    background-color: #12343b;
    min-width: 450px;
    min-height: 580px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
