.lisItem {
    display: flex;
    margin: 20px 0;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;

    @media screen and (max-width: 490px) {
        margin: 15px 0;
        width: 280px;
        display: flex;
    }
}

.index {
    color: var(--white_900);
    display: flex;
    align-items: center;
    font-size: 20px;

    @media screen and (max-width: 490px) {
        font-size: 14px;
    }
}

.list {
    width: 220px;
    background-color: var(--background_todo);
    border: none;
    color: var(--border_color);
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
    user-select: none;

    @media screen and (max-width: 490px) {
        margin-right: 0;
        font-size: 14px;
    }
}

.buttonComplete {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}

.complete {
    text-decoration: solid;
    text-decoration-line: line-through;
    text-decoration-color: var(--text_decoration_color);
    opacity: 0.6;
    width: 220px;
    background-color: var(--background_todo);
    border: none;
    color: var(--border_color);
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;

    @media screen and (max-width: 490px) {
        margin-right: 0;
        font-size: 14px;
    }
}

.iconsSection {
    display: flex;
    .tooltip {
        position: relative;

        .tool {
            display: none;
            transition: 0.5s !important;
        }

        &:hover {
            .tool {
                width: 99px;
                background-color: var(--button_add_bg_disabled);
                position: absolute;
                top: -31px;
                color: var(--white_900);
                height: 25px;
                border-radius: 3px;
                display: block;
                right: -11px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s !important;
                z-index: 2;

                span {
                    z-index: 1111;
                }

                .floorTool {
                    position: absolute;
                    width: 10px;
                    height: 20px;
                    top: 11px;
                    background-color: var(--button_add_bg_disabled);
                    transform: rotate(59deg);
                    right: 15px;
                    z-index: 0;
                }
            }
        }
    }
}

.buttonComplete,
.buttonDelete,
.buttonEdit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;

    @media screen and (max-width: 490px) {
        font-size: 18px;
    }
}

.buttonComplete {
    color: var(--text_decoration_color);
    margin-right: 10px;
}

.buttonEdit {
    color: var(--button_edit_color);
    margin-right: 10px;
}
.buttonDelete {
    color: var(--button_delete_color);
}

@media screen and (max-width: 490px) {
    .iconsSection {
        display: flex;
    }
}

.emptyTodos {
    color: var(--white_900);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;

    h1 {
        font-size: 28px;
    }

    i {
        font-size: 48px;
        color: var(--button_edit_color);
    }
}
