.header h1 {
    color: var(--white_900);
    text-align: center;
    margin: 0px 0px 20px;
    padding: 10px;
    cursor: pointer;

    @media screen and (max-width: 490px) {
        margin-top: 0px;
    }
}
