html:root {
    --white_900: #ffffff;
    --background_todo: #12343b;
    --black_900: #000000;
    --button_add_bg: #f1af71;
    --button_add_bg_disabled: #c89666;
    --background_todo_list: rgb(18, 52, 59);
    --background-active: #4c9e9e;
    --border_color: #ccc;
    --text_decoration_color: #ff6c6c;
    --button_edit_color: #e2d029;
    --button_delete_color: lightseagreen;
    --box-shadow-modal: rgba(0, 0, 0, 0.55) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.72) 0px 4px 6px, rgba(0, 0, 0, 0.47) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
}
