html:root {
    --white_900: #ffffff;
    --background_todo: #12343b;
    --black_900: #000000;
    --button_add_bg: #f1af71;
    --button_add_bg_disabled: #c89666;
    --background_todo_list: rgb(18, 52, 59);
    --background-active: #4c9e9e;
    --border_color: #ccc;
    --text_decoration_color: #ff6c6c;
    --button_edit_color: #e2d029;
    --button_delete_color: lightseagreen;
}
