.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;

  h1 {
    color: var(--white_900);
    font-size: 42px;
  }
}

.glowOnHover {
  width: 300px;
  padding: 15px 15px;
  height: 70px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  background: var(--button_add_bg);
  font-size: 26px;
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--button_animation),
    var(--button_animation3),
    var(--button_animation4),
    var(--button_animation5),
    var(--button_animation6),
    var(--button_animation7),
    var(--button_animation8),
    var(--button_animation9),
    var(--button_animation)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:active {
  color: #000;
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:hover:before {
  opacity: 1;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
