.taskInput {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: var(--black_900);
  border: 1px solid #c89666;
  border-radius: 10px;

  @media screen and (max-width: 490px) {
    width: 200px;
    padding: 10px;
    margin-right: 15px;
  }
}

.buttonAdd {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--button_add_bg);
  cursor: pointer;

  &:disabled {
    background-color: var(--button_add_bg_disabled);
  }

  @media screen and (max-width: 490px) {
    padding: 10px 10px;
    width: 60px;
  }
}

input:focus,
button:focus {
  outline: none;
}
